<div style="font-size: 16px">
    <h1>здравствуйте {{name}}, статус вашего заказа №({{id}}) изменился</h1>
    <p>курьер уже выехал на адресс -  {{address}}</p>
    <p>сумма заказа <h2>{{price}}р.</h2> тип оплаты <h2>{{paymentType}} </h2></p>
</div>
