<div style="font-size: 16px">
    <h1>здравствуйте {{name}}, ваш заказ принят и готовится к отправке</h1>
    <p>мы вам сообщим когда курьер повезет  его на адресс {{address}}</p>
    <p>сумма заказа <h2>{{price}}р.</h2> тип оплаты <h2>{{paymentType}} </h2></p>
    <p>ваш заказ: {{products}}</p>
</div>
